body{
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
li{
    display: inline-block;
}
li a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 28px;
    padding: 0 20px;
}
.cool-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    /* border: 3px solid #fc0d0d; */
    background-color: #fff;
    transition: width .3s;
}
.cool-link:hover::after{
    width: 100%;
    transition: width .3s;
}

/* aula do botao
https://www.youtube.com/watch?v=IYTBAQRBsw0&ab_channel=Codegrid */